<div class="container">
  <!--
  <table class="table">
    <h1>Price Table</h1>
    <thead>
      <tr>
        <th scope="col">Privat</th>
        <th scope="col">Students</th>
        <th scope="col">Companies</th>
      </tr>
    </thead>
    <tbody>
      {% for price in prices %}
      <tr>
        <td>{{ price.studentPrice }}</td>
        <td>{{ price.businessPrice }}</td>
        <td>{{ price.privatePrice }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  -->
</div>
