{% extends 'base.html.twig' %} {% block title %}New Price{% endblock %} {% block
body %}
<div class="container">
  <h1>Create New Price</h1>
  <div
    class="container mb-4 mt-4 p-4 border border-secondary rounded border-opacity-25">
    {{ include("price/_form.html.twig") }}
  </div>

  <a href="{{ path('app_price_index') }}">Back</a>
</div>
{% endblock %}
