{% extends 'base.html.twig' %} {% block title %}Book your First Aid Course!{%
endblock %} {% block body %} {% include 'user_navbar.html.twig' %}


</div>
<div class="col d-flex flex-column h-sm-100" data-aos="fade-left" data-aos-duration="1100">
    <main class="row overflow-auto">
        <div class="col pt-4">
            <h3 class="py-3" data-aos="fade-up" data-aos-duration="1200">Home</h3>
            <p class="offer py-3" data-aos="fade-up" data-aos-duration="1200">We offer First Aid courses in different
                scales - from Basic First
                Aid to
                Professional Medical Assistant.</p>
            <hr id="break-content">
            <h3 class="py-3" data-aos="fade-up" data-aos-duration="1200">Our courses</h3>
            <div class="py-3">
                <div
                    class="row row-cols-xxl-2 row-cols-xl-2 row-cols-lg-2 row-cols-md-1 row-cols-sm-1 row-cols-xs-1 g-4 d-flex flex-row justify-content-center">
                    {% for course in coursecategories %}
                    <div class="col d-flex flex-row justify-content-center" data-aos="fade-down-right"
                        data-aos-duration="1200">
                        <div class="card">
                            <img src="https://www.erstehilfemitherz.at/wp-content/uploads/2020/08/first-aid-training-cpr.jpg"
                                style="height: 10rem;" class="card-img-top" alt="two people doing reanimation">
                            <div class="card-body" style="width: 25rem;">
                                <h5 class="card-title">{{course.name}}</h5>
                                <p class="card-text">{{course.description}}
                                </p>
                                <a class="btn btn-details" href="/course"><span>Details</span></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--
                    <div class="col d-flex justify-content-center" data-aos="fade-down-left" data-aos-duration="1200">
                        <div class="card" style="width: 25rem;">
                            <img src="https://www.erstehilfemitherz.at/wp-content/uploads/2020/08/first-aid-training-cpr.jpg"
                                style="height: 10rem;" class="card-img-top" alt="two people doing reanimation">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <p class="card-text">
                                </p>
                                <a class="btn btn-details" href="/details"><span>Details</span></a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </main>
    <footer class="row py-4 mt-auto" id="footer">
        <div class="col-12"> Footer content here... </div>
    </footer>
</div>
</div>
</div>
{% endblock %}