:root {
    --bright-red: #e10a02;
    --dark-red: #800000;
    --grey: #a1a1a1;
    --black: #0f0f0f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cooper Hewitt', sans-serif;
}

.nav li {
    font-weight: 709;
}

a.btn-login,
a.btn-signup {
    color: var(--black);
    text-decoration: none;
}

main h3 {
    font-weight: 711;
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: var(--black);
}

main p {
    font-weight: 707;
    display: flex;
    justify-content: center;
    font-size: 1.35em;
}

.logo-first {
    font-size: 2em;
    font-weight: 707;
}

.logo-aid {
    color: var(--bright-red);
    font-weight: 707;
    padding-left: 5%;
}

p.offer {
    text-align: center;
}

i {
    color: var(--bright-red);
}

.nav-link {
    color: white !important;
}

#break-content {
    border-top: 5px solid var(--black) !important;
    border-radius: 95%;
}

footer {
    background-color: var(--grey) !important;
}

.username {
    font-weight: 705;
}

footer .col-12 {
    display: flex;
    justify-content: center;
}

.btn.btn-light {
    font-weight: 707;
}

.btn.btn-signup,
.btn.btn-signout {
    background-color: var(--bright-red);
    font-weight: 709;
}

a.btn-signout {
    text-decoration: none;
    color: var(--black);
}


/* CARDS FROM HERE */

.card img {
    overflow: hidden;
}

.btn.btn-details {
    display: block;
    border: 3.5px solid var(--dark-red);
}

.btn.btn-details:hover,
.btn.btn.btn-details:focus {
    animation: pulse 1.5s;
    box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0em var(--dark-red);
    }

    100% {
        box-shadow: 0 0 0 2em transparent;
    }
}


/* LOGIN PAGE */

h1#please-sign-in {
    font-weight: 707;
    display: flex;
    justify-content: center;
}

.email-label,
.password-label {
    font-weight: 705;
    padding-bottom: 1%;
}

.btn.btn-lg {
    background-color: var(--bright-red);
    font-weight: 705;
}

.reg-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.required {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}