:root {
    --dark-blue: #4787c5;
    --light-blue: #82bcfe;
    --baby-blue: #daf3ff;
    --ocher: #dfa01f;
}

body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
}

.menu-container {
    position: relative;
    display: flex;
    align-items: center;
    background: #82bcfe;
    color: #daf3ff;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.menu-container li a {
    color: var(--baby-blue);
}

.menu-container a {
    text-decoration: none;
    color: #82bcfe;
    transition: color 0.3s ease;
}

.menu-container a:hover {
    color: #dfa01f;
}

.menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #daf3ff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

.menu-container span:first-child {
    transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
}

.menu-container input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -1px);
    background: #82bcfe;
}

.menu-container input:checked~span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked~span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
    list-style: none;
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 767px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .menu {
        position: absolute;
        box-sizing: border-box;
        width: 300px;
        right: -300px;
        top: 0;
        margin: -20px;
        padding: 75px 50px 50px;
        background: var(--dark-blue) !important;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translateX(0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .menu-container input:checked~.menu {
        transform: translateX(-100%);
    }
}

/* desktop styles */
@media only screen and (min-width: 768px) {
    .menu-container {
        width: 100%;
    }

    .menu-container a {
        color: #daf3ff;
    }

    .menu-container input {
        display: none;
    }

    /* Burger menu */
    .menu-container span {
        display: none;
    }

    .menu {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu ul {
        display: flex;
        padding: 0;
    }

    .menu li {
        padding: 0 20px;
    }
}


/* Hero Section */

#hero {
    height: 75vh;
    display: flex;
    place-items: center;
    background-color: var(--light-blue);
}

.left-part h2 {
    font-weight: 714;
}

.left-part h4 {
    font-weight: 300;
}

.left-part h5 {
    font-weight: 200;
}

.learn-more {
    background-color: var(--baby-blue);
    width: 7.5em;
    height: 3.75em;
    border: 0;
    border-radius: 17.5%;
}

.learn-more:hover,
.learn-more:focus {
    transform: scale(1.10);
    transition: 400ms ease-out;
}

.learn-more a {
    text-decoration: none;
    color: var(--dark-blue);
}

.learn-more a:hover,
.learn-more a:focus {
    color: var(--ocher);
}

.hero-img {
    width: 30em;
    height: 25em;
}

#courses {
    height: 95vh;
    background: url(./wave\ \(1\).svg);
    background-repeat: no-repeat;
}

.fade-in {
    opacity: 0;
    transition: 0.8s all ease-in-out;
}

.fade-in.appear {
    opacity: 1;
}




/* mobile styles */
@media only screen and (max-width: 767px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-logo {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu-logo img {
        max-height: 30px;
    }

    .menu {
        position: absolute;
        box-sizing: border-box;
        width: 300px;
        left: -300px;
        top: 0;
        margin: -20px;
        padding: 75px 50px 50px;
        background: #96b4a9;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translateX(0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .menu-container input:checked~.menu {
        transform: translateX(100%);
    }
}

/* desktop styles */
@media only screen and (min-width: 768px) {
    .menu-container {
        width: 100%;
    }

    .menu-container a {
        color: #96b4a9;
    }

    .menu-container input {
        display: none;
    }

    /* Burger menu */
    .menu-container span {
        display: none;
    }

    .menu {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu ul {
        display: flex;
        padding: 0;
    }

    .menu li {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}





/* :root {
    --bright-red: #e10a02;
    --dark-red: #800000;
    --grey: #a1a1a1;
    --black: #0f0f0f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cooper Hewitt', sans-serif;
}

.nav li {
    font-weight: 709;
}

a.btn-login,
a.btn-signup {
    color: var(--black);
    text-decoration: none;
}

main h3 {
    font-weight: 711;
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: var(--black);
}

main p {
    font-weight: 707;
    display: flex;
    justify-content: center;
    font-size: 1.35em;
}

.logo-first {
    font-size: 2em;
    font-weight: 707;
}

.logo-aid {
    color: var(--bright-red);
    font-weight: 707;
    padding-left: 5%;
}

p.offer {
    text-align: center;
}

i {
    color: var(--bright-red);
}

.nav-link {
    color: white !important;
}

#break-content {
    border-top: 5px solid var(--black) !important;
    border-radius: 95%;
}

footer {
    background-color: var(--grey) !important;
}

.username {
    font-weight: 705;
}

footer .col-12 {
    display: flex;
    justify-content: center;
}

.btn.btn-light {
    font-weight: 707;
}

.btn.btn-signup,
.btn.btn-signout {
    background-color: var(--bright-red);
    font-weight: 709;
}

a.btn-signout {
    text-decoration: none;
    color: var(--black);
} */


/* CARDS FROM HERE */

/* .card img {
    overflow: hidden;
}

.btn.btn-details {
    display: block;
    border: 3.5px solid var(--dark-red);
}

.btn.btn-details:hover,
.btn.btn.btn-details:focus {
    animation: pulse 1.5s;
    box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0em var(--dark-red);
    }

    100% {
        box-shadow: 0 0 0 2em transparent;
    }
}

h1#please-sign-in {
    font-weight: 707;
    display: flex;
    justify-content: center;
}

.email-label,
.password-label {
    font-weight: 705;
    padding-bottom: 1%;
}

.btn.btn-lg {
    background-color: var(--bright-red);
    font-weight: 705;
}

.reg-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.required {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */