<form method="post" action="{{ path('app_pre_booking_confirm', {'id': pre_booking.id}) }}" onsubmit="return confirm('Are you sure you want to confirm this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('confirm' ~ pre_booking.id) }}">
    <button class="btn btn-warning mx-2">Confirm</button>
</form>
