{% extends 'base.html.twig' %}

{% block title %}Edit PreBooking{% endblock %}

{% block body %}
    <h1>Edit PreBooking</h1>

    {{ include('pre_booking/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pre_booking_index') }}">back to list</a>

    {{ include('pre_booking/_delete_form.html.twig') }}
{% endblock %}
