{% extends 'base.html.twig' %} {% block title %}New PreBooking{% endblock %} {%
block body %}
<div class="container">
  <h1>Create new PreBooking</h1>
  <div
    class="container mb-4 mt-4 p-4 border border-secondary rounded border-opacity-25">
    {{ include("pre_booking/_form.html.twig") }}
  </div>

  <a href="{{ path('app_pre_booking_index') }}">Back</a>
</div>
{% endblock %}
