<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top position-sticky top-0"
            style="max-height: 100vh;" data-aos="fade-left" data-aos-duration="1100">
            <div
                class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/"
                    class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="logo-first">First<span class="logo-aid">Aid</span></span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link px-sm-0 px-2">
                            <i class="fa-solid fa-house"></i><span class="ms-2 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/about" class="nav-link px-sm-0 px-2">
                            <i class="fa-solid fa-circle-info"></i><span
                                class="ms-2 d-none d-sm-inline">About</span></a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="username d-none d-sm-inline mx-1">Username</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100" data-aos="fade-left" data-aos-duration="1100">
            <main class="row overflow-auto">
                <div class="col pt-4">
                    <h3 class="py-3" data-aos="fade-up" data-aos-duration="1200">Home</h3>
                    <p class="py-3" data-aos="fade-up" data-aos-duration="1200">We offer First Aid courses in different
                        scales - from Basic First
                        Aid to
                        Professional Medical Assistant.</p>
                    <hr>
                    <h3 class="py-3" data-aos="fade-up" data-aos-duration="1200">Our courses</h3>
                    <div class="py-3">
                        <div class="row row-cols-2 row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 g-4">
                            <div class="col d-flex justify-content-center" data-aos="fade-down-right"
                                data-aos-duration="1200">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://www.erstehilfemitherz.at/wp-content/uploads/2020/08/first-aid-training-cpr.jpg"
                                        style="height: 10rem; width: 18rem;" class="card-img-top"
                                        alt="two people doing reanimation">
                                    <div class="card-body">
                                        <h5 class="card-title">Course Title</h5>
                                        <p class="card-text">Some information about the course.
                                        </p>
                                        <a class="btn btn-details" href="/details"><span>Details</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-center" data-aos="fade-down-left"
                                data-aos-duration="1200">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://www.erstehilfemitherz.at/wp-content/uploads/2020/08/first-aid-training-cpr.jpg"
                                        style="height: 10rem; width: 18rem;" class="card-img-top"
                                        alt="two people doing reanimation">
                                    <div class="card-body">
                                        <h5 class="card-title">Course Title</h5>
                                        <p class="card-text">Some information about the course.
                                        </p>
                                        <a class="btn btn-details" href="/details"><span>Details</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row py-4 mt-auto" id="footer">
                <div class="col-12"> Footer content here... </div>
            </footer>
        </div>
    </div>
</div>