<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<header>
    <div class="px-3 py-2 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <span class="logo-first">First<span class="logo-aid">Aid</span></span>
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="#" class="nav-link text-secondary">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                <i class="fa-solid fa-house"></i>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/about" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                <i class="fa-solid fa-circle-info"></i>
                            </svg>
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-row justify-content-end">
            <div class="text-end">
                <button type="button" class="btn btn-light me-2">Login</button>
                <button type="button" class="btn btn-signup">Sign-up</button>
            </div>
        </div>
    </div>
</header>