{% extends 'base.html.twig' %} {% block title %} Dashboard {% endblock %}
{%block body %}

<div class="container mb-4 mt-4 p-4">
  <h1>New Pre Bookings</h1>
  {% for new in pre %}
  <table class="table w-100">
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">User Mail</th>
        <th scope="col">Course</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ new.fkUser.fname }} {{ new.fkUser.lname }}</td>
        <td>{{ new.fkUser.email }}</td>
        <td>{{ new.fkCourse.fkCourseCategory.name }}</td>
      </tr>
    </tbody>
  </table>
  {% endfor %}
</div>

{% endblock %}
